/*
COLOR PALETTE
https://coolors.co/d1b1c8-b1b7d1-9b9fb5-8c7284-7a6174
#D1B1C8 - pink lavender
#B1B7D1 - pastel blue
#9B9FB5 - cadet grey
#8C7284 - rocket metallic
#7A6174 - old lavender
#63ADF2 - blue jeans
#545E75 - black coral
*/


/* Global styles
---------------------------------*/
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    color: #343434;  /* dark grey, almost black */
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.5;
}
img {
    width: 300px;
}
a {
    color: #63ADF2;
}
a:hover {
    text-decoration: none;
}
h1 {
    font-size: 100px;
    line-height: 1; /* overrides line-height from the body */
}
h2 {
    font-size: 45px;
}
h1, h2 {
    font-family: 'Caveat', cursive;
    font-weight: 400;
    margin: 0;
}
.content-wrap {
    max-width: 800px;  /* responsive */
    width: 85%;
    margin: 0 auto;
    padding: 50px 0;
}
h3 {
    margin-bottom: 0;
}
.item-details h3 + p {
    font-style: italic;
}
.item-details h3 ~ p {
    margin: 0;   /* removes the space btwn p */
}
.divider > section {
    border-bottom: 1px dashed #343434;
    padding: 25px 0;
}
.divider > section:last-of-type {
    border-bottom: none;      /* removes last border divider */
}


/* Profile
---------------------------------*/
header {
    background: #B1B7D1;
    color: #F7FFF7;
    text-align: center;
}

/* Projects
---------------------------------*/
.projects {
    background: #D1B1C8;
}
.projects a {
    color: #F7FFF7;
    background: #373F47;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
    display: inline-block;
}
.projects a:hover {
    background: rgba(55, 63, 71, 80%);
}
.project-item {
    overflow: hidden;
}
.project-item img {
    float: left;
    margin-right: 20px;
}
.project-item h3 {
    margin-top: 0;
}

/* Work Experience
---------------------------------*/
.work-experience {
    background: #8C7284;
}
.job-item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
}

/* Education
---------------------------------*/
.education {
    background-image: url(../images/joanna-kosinska-unsplash.jpg);
    background-size: cover;
    background-position: top right;
    padding-bottom: 100px;
}
.education p {
    width: 60%;
}


/* Contact Info
---------------------------------*/
footer {
    background: #545E75;
    color: #F7FFF7;
    text-align: center;
}
.contact-list {
    list-style-type: none;      /* remove bullets */
    padding: 0;
    display: flex;         /* alignes items horisontally */
    justify-content: center;
}
.contact-list a {
    padding: 15px;  /* adds space btwn links */
    display: inline-block;
}

